<!DOCTYPE html>
<html>
  <head>
    <title>Mautic</title>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% Array(flash).each do |type, message| %>
      <div class="alert <%= type %>">
        <%= message %>
      </div>
    <% end %>
    <%= yield %>

  </body>
</html>
