name: Ruby

on: [ push ]

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        ruby: ['3.1', '3.2', '3.3' ]
    runs-on: "ubuntu-latest"
    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Update rubygems
        run: gem update --system
      - name: Install dependencies
        run: bundle install
      - name: Run migrations
        run: rails db:create db:migrate RAILS_ENV=test
      - name: Run tests
        run: rspec
